@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: "Source Code Pro", monospace;
}
.wrapper::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -5;
  background: url(./assets/photo-4.avif) no-repeat center center/cover;
  top: 0;
  left: 0;
}
.wrapper::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -4;
}
